<configuration>
  <appSettings>
    <add key="Chrome" value="C:\Users\Ramesh\Downloads\HA\HarperCollins_Assignment-master\Selenium_Specflow\Drivers\chromedriver.exe"/>
    <add key="Firefox" value="geckodriver.exe"/>
    <add key="GeckoDir" value="C:\Users\Ramesh\Downloads\HA\HarperCollins_Assignment-master\Selenium_Specflow\Drivers\"/>
    <add key="FirefoxBinary" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
    <add key="TestDataExcel" value="C:\Users\Ramesh\Downloads\HA\HarperCollins_Assignment-master\Selenium_Specflow\TestData\TestData.xlsx"/>
    <add key="ImplicitWait" value="60"/>
  </appSettings>
</configuration>