<configuration>
  <appSettings>
    <add key="Chrome" value="D:\chromedriver.exe"/>
    <add key="Firefox" value="geckodriver.exe"/>
    <add key="GeckoDir" value="C:\gecko\"/>
    <add key="FirefoxBinary" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
    <add key="TestDataExcel" value="C:\Users\Ramesh\Desktop\Selenium_SpecFlow\Selenium_Specflow\TestData\TestData.xlsx"/>
    <add key="ImplicitWait" value="60"/>
  </appSettings>
</configuration>