<configuration>
  <appSettings>
    <add key="Chrome" value="\Drivers\chromedriver.exe"/>
    <add key="Firefox" value="geckodriver.exe"/>
    <add key="GeckoDir" value="\Drivers\"/>
    <add key="FirefoxBinary" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
    <add key="TestDataExcel" value="\TestData\TestData.xlsx"/>
    <add key="ImplicitWait" value="60"/>
  </appSettings>
</configuration>